*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
    border: none;
    font: inherit;
    cursor: pointer;
}

:root{
    --_hue:240;
    --_size:2.2rem;
    --_tspeed_fast:150ms;
    --_tspeed_slow:400ms;
    --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

    /* Light Mode */
    --bg--light: var(--_hue) 30% 94%;
    --txt--light: var(--_hue) 40% 5%;
    --accent--light: var(--_hue) 55% 50%;
    --muted--light: var(--_hue) 30% 99%;
    /* Dark Mode */
    --bg--dark: var(--_hue) 15% 10%;
    --txt--dark: var(--_hue) 30% 88%;
    --accent--dark: var(--_hue) 50% 50%;
    --muted--dark: var(--_hue) 20% 4%;

    --bg: var(--bg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --muted: var(--muted--light);
    color-scheme: light;
    }

    @media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--bg--dark);
        --txt: var(--txt--dark);
        --accent: var(--accent--dark);
        --muted: var(--muted--dark);
        color-scheme: dark;
    }
    }

    /* prefers reduced motion */
    @media (prefers-reduced-motion: reduce) {
    :root {
        --_tspeed_slow: 50ms;
        --_tspeed_fast: 50ms;
    }
}